<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Dashboard</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

  
  
 <link rel="stylesheet" href="/Style.css">
  </head>
  <body>
      <nav class="navbar navbar-expand-lg bg-color">
        <a class="navbar-brand" href="/user/dashboard"><i class="fa-solid fa-user"></i> <%= myuser.name %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/user/dashboard">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/note/show">Show Notes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/user/dashboard">Add Notes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/logout">logout</a>
            </li>
          </ul>
        </div>
      </nav>
      
    
      <div class="container mt-3">
        <div class="row">
          <div class="col-md-12">
            <h1>Add Note Here</h1>
            <form method="POST" action="/note/add">
              <div class="mb-3">
                <label for="title" class="form-label">Add Title</label>
                <input type="text" class="form-control" id="title" name="title" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="description" class="form-label">Add Description</label>
                <input type="text" class="form-control" id="description" name="description">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/f08ff56987.js" crossorigin="anonymous"></script>
  </body>
</html>